name: Deploy Firebase Functions

on:
  push:
    branches: [ main ]
    paths:
      - 'functions/**'   # only runs when functions/ folder changes

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Install function dependencies
        run: cd functions && npm install

      - name: Set reCAPTCHA API key config
        run: firebase functions:config:set recaptcha.apikey="${{ secrets.RECAPTCHA_API_KEY }}" --token "${{ secrets.FIREBASE_TOKEN }}"

      - name: Deploy functions
        run: firebase deploy --only functions --token "${{ secrets.FIREBASE_TOKEN }}"
